/********************************************
GENERAL
*********************************************/



* {
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*#gallery li {
  width: 28.3333%;
}

#gallery li:nth-child(4n) {
  clear: left;
}*/




/********************************************
HEADING
*********************************************/


h1 {
   text-shadow:2px 2px 0 black;
}

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}

.banner {
	text-align: center;
}

.banner {
	color: #fff;
	background: grey;
	padding: 1em 0;
	margin-bottom: 48px;
}

.headline {
  padding-top: 10px;
  box-shadow: 10px 10px 5px #888888;
}



/********************************************
NAVIGATION
*********************************************/

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;

}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: white;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: grey;
  text-decoration: none;
}

.selected {
  color: lightgrey;
}

/********************************************
TWO COLUMN LAYOUT
*********************************************/

#primary {
  width: 50%;
  float: left;
  padding-left: 3em;
}

#secondary {
  width: 40%;
  float: right;
  padding-right: 3em;
}



/********************************************
FOOTER
*********************************************/

footer {
  font-size: .85em;
  text-align: center;
  clear: both;
  padding: 5px 0;
  color: #ccc;
}

.social-icon {
  width: 25px;
  height: 25px;
  margin: 0 5px 15px 5px;
}



/********************************************
PAGE: HOME
*********************************************/

#welcome {
  text-align: center;
  color: white;
  font-size: 30px;
}

#intro {
  margin: 0 2.5em 3em 2.5em;
  line-height: 25px;
}

#quote {
  margin: 0 2.5em 3em 2.5em;
  line-height: 30px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;

  }

.item {
  flex-grow: 1;
  margin-bottom: 4em;
}

/********************************************
HOME PAGE GALLERY LIGHTBOX
*********************************************/

#overlay {
  background:rgba(0,0,0,0.8);
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;

}

#overlay img {
 margin-top: 30%;
}

#overlay p {
 color:white;
 padding-top: 15px;
 text-shadow:1px 1px 1px black;
}




/********************************************
PAGE: ABOUT
*********************************************/

#about {
  margin: 0 2.5em 3em 2.5em;
  line-height: 25px;
}




/********************************************
PAGE: CONTACT
*********************************************/

h2 {
  font-size: 1.5em;
  color: white;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.5em;
  color: white;
}

p {
  line-height: 25px;
}

.hours p {
  margin: 10px 0 10px 0;
}

#address {
  margin-top: 2em;
}

.address p {
  margin: 10px 0 10px 0;
}

.contact-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}


/********************************************
MAP
*********************************************/

iframe {
  padding-top: 5%;
  width: 100%;
  margin: 5% 0 5% 0;
}



/********************************************
COLORS
*********************************************/

/* site body */
body {
  background-color: black;
  color: #999;
}

/* logo text */
h1, h2, h3 {
  color: #fff;
}

/* links */
/*a {
  color: #6ab47b;
}*/

/* nav link */
/*nav a, nav a:visited {
  color: #fff;
}*/

/* selected nav link */
/*nav a.active, nav a:hover {
  color: lightgrey;
}*/

/* =================================
  Media Queries
==================================== */

@media (min-width: 769px) {

	.main-header,
	.main-nav {
		display: flex;
	}
	.main-header {
		flex-direction: column;
		align-items: center;
	}

}

@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
	}

}

/********************************************
COLUMNS
*********************************************/


@media screen and (max-width: 1050px) {

  #primary {
    width: 90%;
    text-align: center;
  }

  #secondary {
    width: 90%;
    padding: 3em 4em 0 0;
  }
}
